.env
__pycache__/
*.aux
*.log
*.out
*.toc
*.deb
.venv/
.DS_Store
.pytest_cache/
docs/proposal.pdf

# Local environment
.env

# Debian build artifacts
frontend/debian/*.deb
frontend/debian/pkgroot/usr/lib/chess-club-manager/chess_club_fe/
