.env
__pycache__/
*.aux
*.log
*.out
*.toc
*.deb
.venv/
.DS_Store
.pytest_cache/
out/
docs/*.pdf
docs/*/*.pdf

# Debian build artifacts
frontend/debian/*.deb
frontend/debian/pkgroot/usr/lib/chess-club-manager/chess_club_fe/
